# Vivado wave config files
*.wcfg

# Docs not for public repo
docs/phase1_bug_report.pdf
docs/phase1_progress_report.pdf
docs/phase1_system_reference.md
docs/V2_ possible extension.pdf
docs/Phase 1 — System Reference & FSM Appendix.pdf

# Large data files
data/

# Vivado project (regenerable)
vivado/
golden_model/output/
